.as-animate-fade {
    -webkit-animation: fading 1s;
            animation: fading 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}
@-webkit-keyframes fading {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes fading {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.as-animate-spin {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.notification {
    animation: ring 1s ease;
}

@keyframes ring {
    0% {
        transform: rotate(35deg);
    }
    12.5% {
        transform: rotate(-30deg);
    }
    25% {
        transform: rotate(25deg);
    }
    37.5% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(15deg);
    }
    62.5% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
